extends common/layout 

block layout-content
    table
      thead
        tr
          th Name
          th Symbol
          th Price
          th 24h Change
          th 24h Volume
          th Market Cap
          th Actions
      tbody
        each crypto in list
          tr
            td
              img(src=crypto.icon_url, alt=crypto.name, class='crypto-icon')
              span.crypto-name= crypto.name
            td $#{crypto.symbol}
            td $#{crypto.price}
            td
              if crypto.change_24h < 0
                span.change.negative= crypto.change_24h + '%'
              else
                span.change.positive= crypto.change_24h + '%'
            td= crypto.volume_24h
            td= crypto.market_cap
            td
              a(href=`/edit/${crypto._id}`) Edit
              a(href=`/delete/${crypto._id}`) Delete
