extends main

block content
  h2 Latest News
  form(method="get" action="/news")
    label(for="keyword") Search:
    input#keyword(type="text" name="keyword" placeholder="Search news..." value=keyword)
    button(type="submit") Search

  if articles.length > 0
    each article, index in articles
      div.news-card(style='display: flex; width: 100%; margin: 10px 0;')
        img(src=article.urlToImage || '/path/to/default/image.png' alt=article.title style='width: 30%; height: 200px; object-fit: cover;')
        div(style='flex: 1; padding: 10px;')
          h4= article.title
          p= new Date(article.publishedAt).toLocaleDateString()
          p= article.content ? article.content.substring(0, 100) + '...' : 'No content available'
          a(href=`/news-detail?title=${article.title}&content=${article.content}&urlToImage=${article.urlToImage}`) Read More
  else
    p No news available.
